{% extends 'base-front.html.twig' %}

{% block title %}Tournois{% endblock %}
    {% block stylesheet %}
     <link rel="shortcut icon" type="image/x-icon" href="{{asset('front-office/img/favicon.png')}}">
    <link rel="stylesheet" href="{{asset('front-office/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('front-office/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{asset('front-office/css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{asset('front-office/css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{asset('front-office/css/odometer.css')}}">
    <link rel="stylesheet" href="{{asset('front-office/css/aos.css')}}">
    <link rel="stylesheet" href="{{asset('front-office/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('front-office/css/meanmenu.css')}}">
    <link rel="stylesheet" href="{{asset('front-office/css/slick.css')}}">
    <link rel="stylesheet" href="{{asset('front-office/css/default.css')}}">
    <link rel="stylesheet" href="{{asset('front-office/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('front-office/css/responsive.css')}}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{asset('assets/img/favicons/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{asset('assets/img/favicons/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset('assets/img/favicons/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset('assets/img/favicons/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset('assets/img/favicons/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset('assets/img/favicons/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset('assets/img/favicons/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset('assets/img/favicons/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset('assets/img/favicons/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{asset('assets/img/favicons/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset('assets/img/favicons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{asset('assets/img/favicons/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset('assets/img/favicons/favicon-16x16.png')}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png')}}">
    <meta name="theme-color" content="#ffffff">
   
    <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/fontawesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/magnific-popup.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/slick.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style.min.css')}}">
    {% endblock %}
{% block body %}

<div class="breadcumb-wrapper" data-bg-src="{{asset('assets/img/bg/breadcrumb-bg.jpg')}}"><div class="container"><div class="breadcumb-content"><h1 class="breadcumb-title">Nos Tournois</h1><ul class="breadcumb-menu"><li><a href="index.html">Acceuil</a></li><li class="active"> Tournois</li></ul></div></div></div>
                 <section class="bg-smoke space bg-bottom-right" >
                    <div class="container">
                        <div class="schedule-box-wrap">
                        
                        <div class="nav tab-style2" id="tab-style2" role="tablist">
                            <button class="tab-btn active" id="nav-one-tab" data-bs-toggle="tab" data-bs-target="#nav-one" type="button" role="tab" aria-controls="nav-one" aria-selected="true">1st Day <span class="date">22 August, 2022</span></button> 
                            <button class="tab-btn" id="nav-two-tab" data-bs-toggle="tab" data-bs-target="#nav-two" type="button" role="tab" aria-controls="nav-two" aria-selected="false">2nd Day <span class="date">25 August, 2022</span></button> 
                            <button class="tab-btn" id="nav-three-tab" data-bs-toggle="tab" data-bs-target="#nav-three" type="button" role="tab" aria-controls="nav-three" aria-selected="false">3rd day <span class="date">29 August, 2022</span></button></div>
                            {% for tournoi in tournois %}
                            <div class="tab-content schedule-content-area" id="schedule-content-area">
                            <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
                            <div class="schedule-box">
                            <div class="schedule-box_date"><span class="month"></span><span class="date">{{ tournoi.dateTour ? tournoi.dateTour|date('d') : '' }}</span></div><div class="schedule-box_content"><h3 class="schedule-box_title"><a href="event-details.html">{{ tournoi.title }}</a></h3>
                            <div class="schedule-meta"><span><i class="far fa-clock"></i>{{ tournoi.dateTour ? tournoi.dateTour|date('h') : '' }}AM</span> <span><i class="far fa-map-marker-alt"></i><a href="https://www.google.com/maps">{{ tournoi.localisation }}</a></span></div>
                            <p class="schedule-box_text">{{ tournoi.description }}</p>
                            <a href="{{path('app_details',{'id': tournoi.id})}}" class="schedule-btn vs-btn">Voir Details</a></div></div>
                            {% endfor %}
                            </div>
                                
                             </div></div></section>


{% endblock %}
{% block js %}
 <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{{asset('front-office/js/vendor/jquery-3.4.1.min.js')}}"></script>
    <script src="{{asset('front-office/js/popper.min.js')}}"></script>
    <script src="{{asset('front-office/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('front-office/js/isotope.pkgd.min.js')}}"></script>
    <script src="{{asset('front-office/js/slick.min.js')}}"></script>
    <script src="{{asset('front-office/js/jquery.meanmenu.min.js')}}"></script>
    <script src="{{asset('front-office/js/wow.min.js')}}"></script>
    <script src="{{asset('front-office/js/aos.js')}}"></script>
    <script src="{{asset('front-office/js/jquery.lettering.js')}}"></script>
    <script src="{{asset('front-office/js/jquery.textillate.js')}}"></script>
    <script src="{{asset('front-office/js/jquery.odometer.min.js')}}"></script>
    <script src="{{asset('front-office/js/jquery.appear.js')}}"></script>
    <script src="{{asset('front-office/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('front-office/js/jquery.countdown.min.js')}}"></script>
    <script src="{{asset('front-office/js/jquery.scrollUp.min.js')}}"></script>
    <script src="{{asset('front-office/js/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{asset('front-office/js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('front-office/js/plugins.js')}}"></script>
    <script src="{{asset('front-office/js/main.js')}}"></script>

    <script src="{{asset('assets/js/jquery-3.5.0.min.js')}}"></script>
    <script src="{{asset('assets/js/slick.min.js')}}"></script><script src="assets/js/bootstrap.min.js"></script>
    <script src="{{asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('assets/js/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{asset('src="assets/js/isotope.pkgd.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.counterup.min.js')}}"></script>
    <script src="{{asset('assets/js/vscustom-carousel.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery-ui.min.js')}}"></script>
    <script src="{{asset('assets/js/tilt.jquery.min.js')}}"></script>
    <script src="{{asset('assets/js/ajax-mail.js')}}"></script>
    <script src="{{asset('assets/js/main.min.js')}}"></script>
     {% endblock %}